$body-bg: #f0f3f9;
$body-color: #14181e;
$card-color: $body-color;

$primary: #F54C4C;
$secondary: #474c4d;
$tertiary: #c4b7be;

//Pokemon Type Colors
$water: #4c68c3;
$fire: #d1452c;
$grass: #8dc53a;
$poison: #a584ce;
$bug: #d0c860;
$flying: #91b0fe;
$normal: #e2dee8;
$electric: #f4dc36;
$ground: #c8a048;
$fairy: #ffc3d0;
$fighting: #b4948b;
$psychic: #b080d0;
$rock: #867d7d;
$steel: #8C949C;
$ice: #ace9d3;
$ghost: #4d2c4d;
$dragon: #6F35FC;