.water {
    background-color: $water;
    &:hover {
        background-color: $water;
    }
}
.grass {
    background-color: $grass;
    &:hover {
        background-color: $grass;
    }
}
.fire {
    background-color: $fire;
    &:hover {
        background-color: $fire;
    }
}
.poison {
    background-color: $poison;
    &:hover {
        background-color: $poison;
    }
}
.bug {
    background-color: $bug;
    &:hover {
        background-color: $bug;
    }
}
.flying {
    background-color: $flying;
    &:hover {
        background-color: $flying;
    }
}
.normal {
    background-color: $normal;
    &:hover {
        background-color: $normal;
    }
}
.electric {
    background-color: $electric;
    &:hover {
        background-color: $electric;
    }
}
.ground {
    background-color: $ground;
    &:hover {
        background-color: $ground;
    }
}
.fairy {
    background-color: $fairy;
    &:hover {
        background-color: $fairy;
    }
}
.fighting {
    background-color: $fighting;
    &:hover {
        background-color: $fighting;
    }
}
.psychic {
    background-color: $psychic;
    &:hover {
        background-color: $psychic;
    }
}
.rock {
    background-color: $rock;
    &:hover {
        background-color: $rock;
    }
}
.steel {
    background-color: $steel;
    &:hover {
        background-color: $steel;
    }
}
.ice {
    background-color: $ice;
    &:hover {
        background-color: $ice;
    }
}
.ghost {
    background-color: $ghost;
    &:hover {
        background-color: $ghost;
    }
}
.dragon {
    background-color: $dragon;
    &:hover {
        background-color: $dragon;
    }
}