.card { 
    height: 13rem;
    cursor: pointer;
    
    &__icon {
        top: -3rem;
        left: 50%;
        transform: translateX(-50%);
        &--info {
            top: -5rem;
            left: 50%;
            transform: translateX(-50%);
            width: 60%;
        }
    }

    &__section {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        scrollbar-width: none;
    }
}    